@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');

body {
    background-color: black;
}

/* .jumbotron {
    background-color: black;
} */

.container-fluid {
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 0px;
    padding-right: 0px;
    background-color: black;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    background-color: black;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: black;
}

.img-responsive {
    max-width: 100%;
    max-height: auto;
    display: flex;
    align-items: center;
}

.btn-med {
    margin-top: 10px;
}


.lead {
    color: white;
}

h1,
h2,
h3,
h4,
h5 {
  color:  white;
}

.rowtext {
    color: white;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 50vh;
    background: black;
  }
  
  #hero .container {
    padding-top: 72px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #hero h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
  }
  
  #hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #2eff5f;
  }
  
  #hero .btn-get-started:hover {
    background: #21bd46;
  }
  
  #hero .btn-watch-video {
    font-size: 16px;
    display: inline-block;
    padding: 10px 0 8px 40px;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    position: relative;
  }
    
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (max-width: 991px) {
    #hero {
      height: 100vh;
      text-align: center;
    }
    #hero .animated {
      -webkit-animation: none;
      animation: none;
    }
    #hero .hero-img {
      text-align: center;
    }
    #hero .hero-img img {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #hero .hero-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
    #hero .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
    }
    #hero .btn-watch-video {
      font-size: 16px;
      padding: 10px 0 8px 40px;
      margin-left: 20px;
    }
    #hero .btn-watch-video i {
      font-size: 32px;
      top: 7px;
    }
  }
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

/*--------------------------------------------------------------
# Showcase Section
--------------------------------------------------------------*/
.showcase .showcase-text {
    padding: 3rem;
  }

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
}

/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: black;
}
  
.testimonials .testimonial-item {
    max-width: 18rem;
}
  
.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}

/*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/ 

.carousel-item {
    height: 50vh;
    width: 75%;
    margin: auto;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

.d-block {
    margin: auto;
}

#carousel-title {
    color: white;
}

#carousel-caption {
    color: white;
}

/*--------------------------------------------------------------
# Top button
--------------------------------------------------------------*/  
.progress-wrap {
	position: fixed;
	right: 50px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px #8d8d8d;
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: #28a745;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
	opacity: 0;
}
.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 30px;
	opacity: 0;
	background-color: #218838;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: #28a745;
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

/*--------------------------------------------------------------
# Tableau Visualizations
--------------------------------------------------------------*/ 
.tableauPlaceholder {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}