html {

}

body {

    background-color: black;
}

.jumbotron {
    background-color: black;
}

.container-fluid {
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 0px;
    padding-right: 0px;
    background-color: black;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    background-color: black;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: black;
}

.img-responsive {
    max-width: 100%;
    max-height: auto;
    display: flex;
    align-items: center;
}

.btn-med {
    margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5 {
    color: white;
}


.lead {
    color: white;
}

.rowtext {
    color: white;
}

.showcase .showcase-text {
    padding: 3rem;
  }

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: black;
}
  
.testimonials .testimonial-item {
    max-width: 18rem;
}
  
.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}

.carousel-item {
    height: 90vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }