{% extends "layout.html" %}

{% block content %}
<h2>Determine the probability of making profit on your movie based on its genre, production company, production country, key words, and movie rating.</h2>
<form method=post>
    <dl>
        <p>
            <h3>Genre</h3>
            Enter the genre of the movie you wish to test.<br/>
            <br/>
            {{form.genres}}
        </p>

        <p>
            <h3>Production Company</h3>
            Enter the production company of the movie you wish to test.<br/><br/>
            <p>Twentieth Century Fox Film Corporation</p>
        </p>
        
        <p>
            <h3>Production Country</h3>
            Enter the production country of the movie you wish to test.<br/><br/>
            <P>United States of America</P>
        </p>

        <p>
            <h3>Keywords</h3>
            Enter the keywords of the movie you wish to test.<br/><br/>
            <p>['terrorist', 'hostage', 'explosive']</p>
        </p>

        <p>
            <h3>Movie Rating</h3>
            Enter the rating of the movie you wish to test.
            <br/><br/>
            {{form.good_Movie}}
        </p>
    </dl>
    <p><input type="submit" value="submit"></p>
 </form>
{% endblock %}