{% extends "layout.html" %}

{% block content %}
<h2>Determine the possible ratings of your movie based on its genre, production company, production country, keywords, and profit margin.</h2>
<hr/><br/><br/>
<form method=post>
    <dl>
        <h3>Genres</h3>
        <dt class="formGuideText">
            
            Enter the genre(s) of the movie you wish to test:<br/><br/>
            {{form.genres}}
            <br/><br/><br/>
        </dt>
        
        <h3>Production Company</h3>
        <dt class="formGuideText">
            
            Enter the production company(s) of the movie you wish to test.<br/><br/>
            {{form.prodComp}}
            <br/><br/><br/>
        </dt>
        
        <h3>Production Country</h3>
        <dt class="formGuideText">
            
            Enter the production country(s) of the movie you wish to test.<br/><br/>
            {{form.prodCont}}
            <br/><br/><br/>
        </dt>

        <h3>Keywords</h3>
        <dt class="formGuideText">
            
            Enter the keyword(s) of the movie you wish to test.<br/><br/>
            {{form.new_Key}}
            <br/><br/><br/>
        </dt>
        
        <h3>Percent Profit</h3>
        <dt class="formGuideText">
            
            Enter the percent profit of the movie you wish to test.<br/><br/>
            {{form.percent_Profit}}
            <br/><br/><br/>
        </dt>
    </dl>
    <p><input type="submit" value="submit"></p>
 </form>
{% endblock %}